<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="PublicApiLogFile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\FsChat\PublicApi.txt"  maxArchiveFiles="5" archiveFileName="${specialfolder:folder=CommonApplicationData}\FsChat\PublicApi.${longdate}.txt" archiveEvery="Day">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate:universalTime=true}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${onexception:${exception:format=ToString,StackTrace}}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="PublicApi" minlevel="Trace" maxlevel="Fatal" writeTo="PublicApiLogFile"></logger>
  </rules>
</nlog>